version: "3"
services:
  node-express:
    build:
      context: .
      args:
        NODE_ENV: development
    ports:
      - "3000:3000"
    command: npm run dev
    volumes:
      - ./:/app
      - /app/node_modules
    env_file:
      - ./.env